@import "tailwindcss";

@theme {
  /* --animate-fade-in-scale: fade-in-scale 0.3s ease-out; */
  @keyframes rotate {
    0% {
      transform: rotate3d(1, 0, 0, 0deg);
    }
    100% {
      transform: rotate3d(1, 0, 0, 180deg);
    }
  }
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
